body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffcc00, #222);
    min-height: 100vh;
    -webkit-transform: translate3d(0, 0, 0);
}

.recipe-card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Отключает выделение текста в Safari */
.element {
    -webkit-user-select: none;
    user-select: none;
}

.element {
    height: 100dvh;
    /* Новый стандарт, учитывает панель Safari */
}

/* Убирает стандартные стили для input в iOS */
input {
    -webkit-appearance: none;
    appearance: none;
}

/* Дает плавный скролл в iOS Safari */
.scroll-container {
    -webkit-overflow-scrolling: touch;
}

h2 {
    text-align: center;
    color: #333;
}

ul,
ol {
    padding-left: 20px;
}

@media screen and (max-width: 1024px) {
    /* Стили для iPad 4 в горизонтальном режиме */
}

@media (max-width: 955px) {
    .recipe-card {
        width: 100%;
        max-width: 700px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .recipe-card_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .recipe-card {
        width: 95%;
        padding: 15px;
    }
}
